.play-card {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  position: sticky;
  top: 0;
  background-color: white;

  &__item {
    flex-basis: 25%;
    width: 25%;
    height: 25%;
    flex-shrink: 0;
    flex-grow: 0;
    box-sizing: border-box;
    border: 1px solid black;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}